---
import Layout from '../layouts/Layout.astro';
import Game from '../components/game.jsx';
---

<Layout title="Magde - Devinez l'admin du jour !">
	<main class="w-full max-w-5xl mx-auto px-4">
		
		<h1 class="text-4xl md:text-5xl text-center text-slate-100 font-extrabold pt-10 tracking-tighter">
			Magde
		</h1>
        	<h2 class="text-xl md:text-2xl font-normal text-center text-slate-400 mb-10">
				Devinez l'admin du jour !
			</h2>
        <Game client:load />
        
	</main>
</Layout>